<% content_for :title do %>
  Hogwarts Business School Friend Finder
<% end %>


<div class='homepage_hero'>
	<center>
		<br/>
		<h2>
			Hogwarts Business School Friend Finder
		</h2>
	
		<br/>
		<h4>
			A simple tool for finding out who's in your class.
		</h4>
	

		<br/>	

	    <% if user_signed_in? %>
	    <% else %>

	    	Please 

			<button class="btn btn-success" onClick="window.location='<%= new_user_registration_path %>'" type="button">
				Sign Up
			</button>

			 or 

			<button class="btn btn-success" onClick="window.location='<%= new_user_session_path %>'" type="button">
				Login 
			</button>

			in order to get started!
			<br/>
		<% end %>
	</center>
	<br/>
</div>

<br/>
	<ul>
		<strong>
		<li>
		    <% if user_signed_in? %>
	    		<button class="btn btn-success" onClick="window.location='<%= my_courses_path %>'" type="button"> 
					My Courses
				</button>

				 - See all of the courses you are registered for, and who's in them.
	    	<% else %>
	    		See who's in the courses you're registered for.
    		<% end %>
		</li>

		<br/>

		<li>
		    <% if user_signed_in? %>
				<button class="btn btn-success" onClick="window.location='<%= all_courses_path %>'" type="button">
					All Courses
				</button>

		 			- Browse through all of HBS's second year courses to see who's in them.
	    	<% else %>
	    		Browse through all of HBS's EC courses and see who's in them.
    		<% end %>
		</li>

		<br/>

		<li>
		    <% if user_signed_in? %>

				<button class="btn btn-success" onClick="window.location='<%= all_courses_path %>'" type="button">
					See Friends Courses
				</button>

					- Find your friends and see what courses they're in.
			<% else %>
				Find your friends and see what courses they're in.
			<% end %>
		</li>
		</strong>
	</ul>
<br/>
<br/>

<hr/>

We use crowd sourced data to populate course information, therefore the list of students in a particular course may not be accurate. For entertainment purposes only.

<br/>


<br/>

<hr>
<h2>
	Thank You for trying it out!
</h2>

I'd love to hear what you think about this. Please email me - <a href = "mailto:?to=varun.bhartia@gmail.com">
	Varun Bhartia - varun.bhartia@gmail.com
</a>


