<% if @table_id.nil? %>
 <% @table_id = 'course_list_id' %>
<% end %>

<table id="<%= @table_id %>">
  <thead>
    <tr>
      <th>Course Title</th>

      <th>Faculty</th>

      <th>Section</th>

      <th>Day</th>

      <th>Time</th>

      <th>Location</th>

      <th>Code</th>

      <th>Term</th>

      <th>Quarter/Credits</th>

    </tr>
  </thead>  

  <tbody>
    <% @courses_to_display.each do |course| %>
      <tr>

        <td>
      <%= link_to course_path(course), :title =>"See who is enrolled in this course" do %>
        <%= course.title %>
      <% end %>
        </td>

        <td>
      <%= course.faculty %>
        </td>

        <td>
      <%= course.section %>
        </td>

        <td>
      <%= course.day %>
        </td>

        <td>
      <%= course.time %>
        </td>

        <td>
      <%= course.location %>
        </td>

        <td>
      <%= course.code %>
        </td>

          <td>
      <%= course.term %>
        </td>

          <td>
      <%= course.quarter_credits %>
        </td>

      </tr>
    <% end %>
  </tbody>
</table>

<script>
  
  $('#<%= @table_id %>').dataTable(
        {
          "bPaginate": false,
          "aoColumnDefs": [

            { "sWidth": "30%", 'aTargets': [ 0 ],
            },

            { "sWidth": "10%", 'aTargets': [ 1 ],
            },

                          ],
        });
    

</script>