<table id="user_list_id">
  <thead>
    <tr>
      <th>Mug Shot</th>

      <th>Name</th>

    </tr>
  </thead>  

  <tbody>
    <% @users_to_display.each do |user| %>
      <tr>

        <td>
          <%= image_tag(user.profile_pic_url) %>
        </td>

        <td>
    			<%= link_to user_path(user) do %>
            <span title='See all of the courses that <%= user.firstname %> is taking' >
      				<%= user.firstname %> <%= user.lastname %>
            </span>
    			<% end %>
        </td>

      </tr>
    <% end %>
  </tbody>
</table>

<script>
  /*
  $('#user_list_id').dataTable(
        {
          "aoColumnDefs": [


            { "sWidth": "70px", 'bSortable': false, 'aTargets': [ 0 ],
            },

            { 'bSortable': false, 'aTargets': [ 1 ],
            }

                          ],
        });
    */

</script>

