<table id="my_courses_tables">
  <thead>
    <tr>
      <th>Course Title</th>

      <th>Enrolled Students</th>

      <th>Faculty</th>

      <th>Section</th>

      <th>Term</th>
  
      <th>Remove Course?</th>

    </tr>
  </thead>  

  <tbody>
    <% current_user.courses.all.each do |course| %>
      <tr>

        <td>
    			<%= link_to course_path(course), :title =>"See who is enrolled in this course" do %>
			     	<%= course.title %>
	     		<% end %>
        </td>

        <td>
            <div style='height:80px; overflow:auto; padding-left:5px;'>
              <% course.users.each do |registered_students| %>

                <%= link_to user_path(registered_students) do %>
                  <span title='See all of the courses that <%= registered_students.firstname %> is taking' >
                    <%= registered_students.firstname %> <%= registered_students.lastname %>
                  </span>
                <% end %>

                <br/>

              <% end %>
          </div>

        </td>



        <td>
			<%= course.faculty %>
        </td>

        <td>
			<%= course.section %>
        </td>

        <td>
      <%= course.term %>
        </td>


        <td>
    			<a href='/course/remove/<%= course.id %>' title='Remove this course from my list'>
			   	Remove Course
		    	</a>
        </td>

      </tr>
    <% end %>
  </tbody>
</table>

<script>
  
  $('#my_courses_tables').dataTable(
        {
          "bPaginate": false,
          "aoColumnDefs": [
            { "sWidth": "30%", 'aTargets': [ 0 ],
            },

            { "sWidth": "20%", 'aTargets': [ 1 ],
            },

            { 'bSortable': false, 'aTargets': [ 5 ],
            }

                          ],
        });

</script>
