<table id="add_new_courses_id">
  <thead>
    <tr>
      <th>Course Title</th>

      <th>Faculty</th>

      <th>Section</th>

      <th>Day</th>

      <th>Time</th>

      <th>Location</th>

      <th>Code</th>

      <th>Term</th>

      <th>Quarter/Credits</th>
  
      <th>Course Actions</th>

    </tr>
  </thead>  

  <tbody>
    <% Course.all.each do |course| %>
      <tr>

        <td>
      <%= link_to course_path(course), :title =>"See who is enrolled in this course" do %>
        <%= course.title %>
      <% end %>
        </td>

        <td>
      <%= course.faculty %>
        </td>

        <td>
      <%= course.section %>
        </td>

        <td>
      <%= course.day %>
        </td>

        <td>
      <%= course.time %>
        </td>

        <td>
      <%= course.location %>
        </td>

        <td>
      <%= course.code %>
        </td>

          <td>
      <%= course.term %>
        </td>

          <td>
      <%= course.quarter_credits %>
        </td>

        <td>
			   <a href='/course/add/<%= course.id %>' title='Add this course to your class registration'>
				    Add Course
			   </a>
        </td>

      </tr>
    <% end %>
  </tbody>
</table>

<script>
  $('#add_new_courses_id').dataTable(
        {
          "bPaginate": false,
          "aoColumnDefs": [

            { "sWidth": "40%", 'aTargets': [ 0 ],
            },

            { "sWidth": "20%", 'aTargets': [ 1 ],
            },

            { 'bSortable': false, 'aTargets': [ 9 ],
            }

                          ],
        });

</script>