
<%= form_tag("/course/add", method: "post",:id => 'checked_courses') do %>

  <button type="submit" class="btn-large btn-success" title="Add the selected courses below to your registered courses">Add selected courses
  </button>


<table id="add_new_courses_id">
  <thead>
    <tr>
      <th>Add Course</th>

      <th>Course Title</th>

      <th>Faculty</th>

      <th>Section</th>

      <th>Day</th>

      <th>Time</th>

      <th>Location</th>

      <th>Code</th>

      <th>Term</th>

      <th>Quarter/Credits</th>
  
    </tr>
  </thead>  

  <tbody>

    <% Course.all.each do |course| %>
      <tr>
        <td>
          <input name="courses[<%= course.id %>]" type="checkbox" />


        </td>

        <td>
      <%= link_to course_path(course), :title =>"See who is enrolled in this course" do %>
        <%= course.title %>
      <% end %>
        </td>

        <td>
      <%= course.faculty %>
        </td>

        <td>
      <%= course.section %>
        </td>

        <td>
      <%= course.day %>
        </td>

        <td>
      <%= course.time %>
        </td>

        <td>
      <%= course.location %>
        </td>

        <td>
      <%= course.code %>
        </td>

          <td>
      <%= course.term %>
        </td>

          <td>
      <%= course.quarter_credits %>
        </td>

      </tr>
    <% end %>

  </tbody>
</table>

<br/>
<br/>

  <button type="submit" class="btn-large btn-success" title="Add the selected courses below to your registered courses">
    Add selected courses
  </button>

<% end %>

<script>
  $('#add_new_courses_id').dataTable(
        {
          "bPaginate": false,
          "aoColumnDefs": [

            { "sWidth": "40%", 'aTargets': [ 1 ],
            },

            { "sWidth": "20%", 'aTargets': [ 2 ],
            },

            { 'bSortable': false, 'aTargets': [ 0 ],
            }

                          ],
        });

</script>