
<% content_for :title do %>
  <%= @course.title %>
<% end %>


<h3>
	<%= @course.title %>
</h3>


<table>
	<tr>
		<td>
			Faculty:
		</td>
		<td>
			<%= @course.faculty %>
		</td>
	</tr>		

	<tr>
		<td>
			Section:
		</td>
		<td>
			<%= @course.section %>
		</td>
	</tr>

	<tr>
		<td>
			Day:
		</td>
		<td>
			<%= @course.day %>
		</td>
	</tr>

	<tr>
		<td>
			Time:
		</td>
		<td>
			<%= @course.time %>
		</td>
	</tr>

	<tr>
		<td>
			Location:
		</td>
		<td>
			<%= @course.location %>
		</td>
	</tr>

	<tr>
		<td>
			Code:
		</td>
		<td>
			<%= @course.code %>
		</td>
	</tr>

	<tr>
		<td>
			Term:
		</td>
		<td>
			<%= @course.term %>
		</td>
	</tr>

	<tr>
		<td>
			Quarter/Credits:
		</td>
		<td>
			<%= @course.quarter_credits %>
		</td>
	</tr>


</table>

<hr>

<h3>
Registed Students:
</h3>

<% @users_to_display = @course.users %>

<% if @users_to_display.count == 0 %>
	
	<br/>	
	We do not have any record of enrollment yet.
	<br/>

<% else %>

	<%= render "courses/shared/list_users"%>

<% end %>
